{% extends 'base.html.twig' %}

{% block title %}
	Profil de {{ app.user.username}} |
	{{ site_name }}
{% endblock %}


{% block body %}

	<div class="user-infos">
		<h3>Salut {{ app.user.username}} ! &#128513</h3>
		<a href="{{ path('app_logout')}}">
			<i class="fas fa-sign-out-alt"></i>
		</a>	
	</div>

	<article class="profile">
		<h1>PAGE DE PROFIL</h1>
			<div class="container">
				<h3>Vos derniers commentaires :</h3>
				<div class="my-comments">
					{# {% for comment in article.comments %}
						{{ comment }}
					{% endfor %} #}
				</div>
			</div>
	</article>
{% endblock %}
