{% extends 'base.html.twig' %}

{% block title %}
	Les cours à la carte
{% endblock %}

{% block body %}
	<h1>Les cours à la carte</h1>
	<article id="alacarte">
		<div class="container">
			<h2>Tous nos cours sont au même prix.
			</h2>
			<p>Tous. On veut que la danse touche le plus de monde possible. Tous les niveaux.</p>
			<p>Les bouts de choux, comme les plus expérimentés. Débutants comme confirmés.
			</p>
			<p>Ce n'est pas une vague promesse commerciale. Notre devise est la suivante : la danse</p>
			<p>c'est l'essence de la vie.
			</p>
			<p>On t'a convaincu ? Choisis un cours :)
			</p>
		</div>
	</article>
	<article id="lessons">
			<div class="cardz">
				<div class="img-container">
					<img
					src="{{ asset('build/img/classique.020da6ad.jpg')}}" alt="Photo du professeur" />
				</div>
				<div class="content">
					<h3>
						Prof : Romuald Saint-Eloi
						</h3>
					<p>Tous niveaux</p>
					<p>Prix : 15€</p>
					<p>
						<h4>Description :
						</h4>
						<p> Cours débutant à avancé</p>
					</p>
					<h4>
						Horaires :
					</h4>
					<a href="#" class="btn">Plus</a>
					<div class="flexible"></div>
				</div>
			</div>

			<div class="cardz">
				<div class="img-container">
					<img
					src="{{ asset('build/img/hip-hop.a1390038.jpg')}}" alt="Photo du professeur" />
				</div>
				<div class="content">
					<h3>
						Prof : Ava Nguema
						</h3>
					<p>Tous niveaux</p>
					<p>Prix :
						</p>
					<p>
						<h4>Description :
						</h4>
						<p> Cours débutant à avancé</p>
					</p>
					<p>
						Horaires :
					</p>
					<a href="#" class="btn">Plus</a>
					<div class="flexible"></div>

				</div>
			</div>

			<div class="cardz">
				<div class="img-container">
					<img
					src="{{ asset('build/img/street-jazz.cc121e09.jpg')}}" alt="Photo du professeur" />
				</div>
				<div class="content">
					<h3>
						Prof : Eoghan Gallagher
						</h3>
					<p>Tous niveaux</p>
					<p>Prix :
						</p>
					<p>
						<h4>Description :
						</h4>
						<p> Cours débutant à avancé</p>
					</p>
					<p>
						Horaires :
					</p>
					<a href="#" class="btn">Plus</a>
					<div class="flexible"></div>
				</div>
			</div>

			<div class="cardz">
				<div class="img-container">
					<img
					src="{{ asset('build/img/moderne-jazz-min.b4f1234a.jpg')}}" alt="Photo du professeur" />
				</div>
				<div class="content">
					<h3>
						Prof : Astrid Karlsson
						</h3>
					<p>Tous niveaux</p>
					<p>Prix :
						</p>
					<p>
						<h4>Description :
						</h4>
						<p> Cours débutant à avancé</p>
					</p>
					<p>
						Horaires :
					</p>
					<a href="#" class="btn">Plus</a>
					<div class="flexible"></div>
				</div>
			</div>

			<div class="cardz">
				<div class="img-container">
					<img
					src="{{ asset('build/img/orientale.d4d0d303.jpg')}}" alt="Photo du professeur" />
				</div>
				<div class="content">
					<h3>
						Prof : Francisca Romero
						</h3>
					<p>Tous niveaux</p>
					<p>Prix :
						</p>
					<p>
						<h4>Description :
						</h4>
						<p> Cours débutant à avancé</p>
					</p>
					<p>
						Horaires :
					</p>
					<a href="#" class="btn">Plus</a>
					<div class="flexible"></div>
				</div>
			</div>

			<div class="cardz">
				<div class="img-container">
					<img
					src=" {{ asset('build/img/salsa.jpg')}}" alt="Photo du professeur" />
				</div>
				<div class="content">
					<h3>
						Prof : Alma Ruiz
						</h3>
					<p>Tous niveaux</p>
					<p>Prix :
						</p>
					<p>
						<h4>Description :
						</h4>
						<p> Cours débutant à avancé</p>
					</p>
					<p>
						Horaires :
						
					</p>
					<a href="#" class="btn">Plus</a>
					<div class="flexible"></div>
				</div>
			</div>

	</article>
{% endblock %}
