{% extends 'base.html.twig' %}

{% block title %}
	Les cours à la carte
{% endblock %}

{% block body %}
	<h1>Les cours à la carte</h1>
	<div class="border"></div>
	<article id="alacarte">
		<div class="container">
			<h2>Tous nos cours sont au même prix.
			</h2>
			<p>Tous. On veut que la danse touche le plus de monde possible. Tous les niveaux.</p>
			<p>Les bouts de choux, comme les plus expérimentés. Débutants comme confirmés.
			</p>
			<p>Nous avons <strong>8 salles</strong>, dont une est réservée aux élèves. Si tu fais partie de notre école</p>
			<p>Ce n'est pas une vague promesse commerciale. Notre devise est la suivante : la danse</p>
			<p>est l'essence de la vie. Voilà 
			</p>
		</div>
	</article>
	<article id="lessons">
			<div class="cardz">
				<div class="img-container">
					<img
					src="{{ asset('build/img/classique.020da6ad.jpg')}}" alt="Photo du professeur" />
				</div>
				<div class="content">
					<h4>
						Prof : Romuald Saint-Eloi
						</h4>
					<p>Tous niveaux</p>
					<p>Prix : 15€</p>
					<p> Cours débutant à avancé</p>
					<h4>
						Horaires :
					</h4>
					<ul>
						<ul>
							<li>Débutant :</li>
							<li>Lundi et mardi : 15H00-17H00</li>
						</ul>
						<ul>
							<li>Intermédiaire :</li>
							<li>Jeudi et vendredi : 15H00-17H00</li>
						</ul>
						<ul>
							<li>Avancé :</li>
							<li>Lundi et vendredi : 18H00-21H00</li>
						</ul>
					</ul>
				
					
					<div class="flexible"></div>
				</div>
			</div>

			<div class="cardz">
				<div class="img-container">
					<img
					src="{{ asset('build/img/hip-hop.a1390038.jpg')}}" alt="Photo du professeur" />
				</div>
				<div class="content">
					<h4>
						Prof : Ava Nguema
						</h4>
					<p>Tous niveaux</p>
					<p>Prix : 15 € 
						</p>
					<p>
						<p> Cours débutant à avancé</p>
					</p>
					<p>
						Horaires :
					</p>
					
					<div class="flexible"></div>

				</div>
			</div>

			<div class="cardz">
				<div class="img-container">
					<img
					src="{{ asset('build/img/street-jazz.cc121e09.jpg')}}" alt="Photo du professeur" />
				</div>
				<div class="content">
					<h4>
						Prof : Eoghan Gallagher
						</h4>
					<p>Tous niveaux</p>
					<p>Prix : 15 €
						</p>
					<p>
						<p> Cours débutant à avancé</p>
					</p>
					<p>
						Horaires :
					</p>
					
					<div class="flexible"></div>
				</div>
			</div>

			<div class="cardz">
				<div class="img-container">
					<img
					src="{{ asset('build/img/moderne-jazz-min.b4f1234a.jpg')}}" alt="Photo du professeur" />
				</div>
				<div class="content">
					<h4>
						Prof : Astrid Karlsson
						</h4>
					<p>Tous niveaux</p>
					<p>Prix : 15 €
						</p>
					<p>
						<p> Cours débutant à avancé</p>
					</p>
					<p>
						Horaires :
					</p>
					
					<div class="flexible"></div>
				</div>
			</div>

			<div class="cardz">
				<div class="img-container">
					<img
					src="{{ asset('build/img/orientale.d4d0d303.jpg')}}" alt="Photo du professeur" />
				</div>
				<div class="content">
					<h4>
						Prof : Francisca Romero
						</h4>
					<p>Tous niveaux</p>
					<p>Prix :15 €
						</p>
					<p>
						<p> Cours débutant à avancé</p>
					</p>
					<p>
						Horaires :
					</p>
					
					<div class="flexible"></div>
				</div>
			</div>

			<div class="cardz">
				<div class="img-container">
					<img
					src=" {{ asset('build/img/salsa.jpg')}}" alt="Photo du professeur" />
				</div>
				<div class="content">
					<h4>
						Prof : Alma Ruiz
						</h4>
					<p>Tous niveaux</p>
					<p>Prix : 15 €
						</p>
					<p>
						<p> Cours débutant à avancé</p>
					</p>
					<p>
						Horaires :
						
					</p>
					
					<div class="flexible"></div>
				</div>
			</div>

	</article>
{% endblock %}
