{% block header %}
	<header>
		<div class="logo">
			<a href="{{ path('app_home')}}"><img src="{{asset('build/img/logo_petit.png')}}" alt="logo du site"></a>
		</div>
		<nav class="navbar" id="navv">
			<ul class="menu">
				<li>
					<a href="{{ path('app_about')}}" class="nav-links">À propos</a>
				</li>
				<li	>
					<a href="{{ path('lessons_index')}}" class="nav-links">Cours</a>
				</li>

				<li>
					<a href="{{ path('app_article') }}" class="nav-links">Blog</a>
				</li>
				<li>
					<a href="{{ path('app_contact')}}" class="nav-links">Contact</a>
				</li>

				{% if is_granted('ROLE_USER')%}
					<li>
						<a class="nav-links logout-link" href="{{ path('app_profile')}}">Mon profil</a>
					</li>
				{% elseif is_granted('ROLE_ADMIN') %}
					<li>
						<a class="nav-links logout-link" href="{{ path('admin')}}">Admin</a>
					</li>
					{# <li>
						<img src="{{ app.user.image}}" alt="">
					</li> #}
				{% elseif is_granted('ROLE_SUPER_ADMIN') %}
					<li>
						<a class="nav-links logout-link" href="{{ path('super')}}">Super Administrator</a>
					</li>
				{% else %}
					<li>
						<a class="btn nav-links login-link" href="{{ path('app_login')}}">Connexion</a>
					</li>
					<li>
						<a class="btn nav-links register-link" href="{{path('app_register')}}">Inscription</a>
					</li>
				{% endif %}
			</ul>
			{# <i id="btn-icon" class="fas fa-user-circle"></i> #}
		{# <div class="burger"> #}
			<div class="burger">
				<i class="fas fa-bars"></i>
			</div>
		{# </div> #}
		</nav>
	</header>
{% endblock %}
