{% extends 'base.html.twig'%}
{% block body %}
	{# <aside class="sidebar"></aside> #}
	<div class="user-infos">
		<h3>Salut {{ app.user.username}} ! &#128513</h3>
		<a href="{{ path('app_logout')}}">
			<i class="fas fa-sign-out-alt"></i>
		</a>	
	</div>
	</div>
	<article id="dashboard">
		<div class="admin-infos">
			<div class="admin-photo">
			{% if app.user.image %}
					<img class="profile-picture" src="{{ app.user.image }}" alt="">
				{% else %}
					<i class="fas fa-user"></i>
			{% endif %}
			</div>
			<div class="admin-body">
				<p>{{app.user.firstname}}</p>
				<p>{{app.user.lastname}}</p>
				<p class="admin-email">{{app.user.email}}</p>
			</div>
		</div>
		<div class="links">
			<a href="{{path('create_article')}}" class="btn">Créer un article</a>
			<a href="{{ path('add_categories')}}" class="btn">Créer une catégorie</a>
		</div>
			<div class="article-table">
				<table>
					<tr>
						<th>#</th>
							<th>Titre</th>
							<th>Description</th>
							<th>Date de publication</th>
							<th>Catégorie</th>
							<th>Actions</th>
					</tr>
					{% for article in articles %}
						<tr>
						{% set i = 1 %}
							<td>{{ i }}</td>
							<td><a href="{{ path('admin_article', {'id': article.id}) }}" target="_blank">{{ article.title|raw }}</a></td>
							<td>{{ article.description|raw }}</td>
							<td>{{ article.date ? article.date|date('d/m/Y') : '-' }}</td>
							<td>
							{% for category in article.categories %}
								# {{ category.title }} 
								<br>
							{% endfor  %}
							</td>
							<td>
								<a class="tooltip" data-text="Modifier l'article"  href="{{ path('article_edit', {'id': article.id}) }}"><i class="fas fa-pen" ></i></a>
								<a class="tooltip" data-text="Supprimer l'article"  href="{{ path('article_delete', {'id':article.id}) }}"><i class="fas fa-trash"></i></a>
							</td>
						{% set i = i + 1 %}
						</tr>
					{% endfor %}
				</table>
			</div>
		{# eventlistener on button modal#}
		{# <a href="" class="btn">Supprimer un article</a>
																				<a href="" class="btn">Mettre à jour un article</a> #}
	</article>
{% endblock  %}
