{% extends 'base.html.twig'%}

{% block body%}
<div class="content">
    <h1>{{ article.title}}</h1>
        <img src="{{ asset('/public/article_images/ {{ article.imageName}}')}}" alt="{{ article.imageName }}">
    <h3>{{ article.user}}</h3>
    <p>{{ article.description|striptags}}</p>
    <p>{{ article.content|striptags}}</p>
</div>
{% endblock body%}