{% extends 'base.html.twig'%}

{% block body%}
	<h2>Les articles de la catégorie</h2>
	<div class="article">
		<h2>{{ category.title }}</h2>
		{% for article in category.article %}
			<a href="{{ path('show_articles', {id: article.id}) }}">
				<p>{{ article.title }}</p>
			</a>
		{% endfor %}
		{# <p>{{ category.article }}</p> #}
	</div>
	{# <p>#
											{{ 	categories.title }}</p> #}


{% endblock %}
