{% extends 'base.html.twig' %}

{% block title %}
	Blog
	{{site_name}}
{% endblock %}

{% block body %}
	<article class="categories">
	<h2>Catégories</h2>
	<div class="border"></div>
		<p>Si vous vous sentez d'humeur aventurière :</p>
			{% for category in categories %}
				<a href="{{ path('article_categories', {id: category.id})}}"># {{ category.title}}</a>
			{% endfor %}
	</article>
	<article id="blog">
		<h1>Nos articles les plus récents:</h1>
		<div class="border"></div>
		<div class="cards">
			{% for article in articles %}
					<div class="card">
						<div class="card-img">
							<img src="{{ article.imageName }}">
						</div>
						<div class="card-body">
							{% for category in article.categories %}
								<a href="{{ path('article_categories', {id: category.id}) }}">  # {{ category }} </a>
							{% endfor %}
							<h3 class="card-title">{{ article.title }}</h3>
							<p class="description">{{ article.description|raw}}</p>
							<a href="{{path('show_articles', {id: article.id})}}" class="btn">Lire</a>
							<p>by</p>
							<a href="{{ path('teacher', { id: article.user.id })}}">{{ article.user.username }}</a>
							<p>Publié le
								{{ article.date|format_datetime('long', 'none', locale='fr')}}</p>
						</div>
						<div class="flexible"></div>
					</div>
			{% endfor %}
		</div>
	</article>
{% if isPaginated %}
	<div class="pages row mt-5">
		<nav aria-label="Page navigation example" class="col">
			<ul class="pagination">
				{% if page != 1 %}
					<li class="page-item">
						<a class="page-link" href="{{ path('app_article', {page: page - 1, nbr: nbr}) }}">
							<i class="fas fa-chevron-left"></i>
						</a>
					</li>
				{% endif %}
				{% for i in range(1, nbPage) %}
					<li class="page-item">
						<a class="page-link" href="{{ path('app_article', {page: i, nbr: nbr}) }}">{{ i }}</a>
					</li>
				{% endfor %}
				{% if page != nbPage %}
					<li class="page-item">
						<a class="page-link" href="{{ path('app_article', {page: page + 1, nbr: nbr}) }}">
							<i class="fas fa-chevron-right"></i>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
{% endif %}
{% endblock %}
