{% extends 'base.html.twig' %}

{% block title %}
	{{ articles.title }}
	|
	{{ site_name }}
{% endblock %}

{% block body %}
	<section id="show-art">
		<div class="container">
			<h2>
				{{ articles.title }}
			</h2>
			<img
			src="{{ articles.image }}" alt="{{ articles.title }}">
		</div>
	</section>
{% endblock %}
